*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: rgb(244, 215, 215);
    height: 190vh;
    margin: 2px;            
   padding: 100px;           /* Space inside the border */
   border: 10px solid rgb(15, 14, 15); 
}
.image{
    position: relative;
    /* left: .2cm; */
   bottom: 3cm;
    width: 480px;
    height: 500px;
    border-radius: 15px;
}
.img{
    width: 200px;
    height: 300px;
    margin-left: 24cm;
}
.body h1{
    color: gray;
    margin-top: 8px;
    margin-left: 4px;
    
}
ol{
    position: relative;
    bottom: 6cm;
    margin-left: 1cm;
} 
ul{
    margin: 5px;
    line-height: 35px;
    margin-left: 8px;
}
#hasil{
    color: black;
    position: relative;
    bottom: 7cm;
    font-size: 30px;
    text-decoration: underline;
}